<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Housing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>Housing.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Condition</display-name>
    <servlet-name>Condition</servlet-name>
    <servlet-class>Housing.Condition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Condition</servlet-name>
    <url-pattern>/Condition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Area</display-name>
    <servlet-name>Area</servlet-name>
    <servlet-class>Housing.Area</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Area</servlet-name>
    <url-pattern>/Area</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Research</display-name>
    <servlet-name>Research</servlet-name>
    <servlet-class>Housing.Research</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Research</servlet-name>
    <url-pattern>/Research</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Option</display-name>
    <servlet-name>Option</servlet-name>
    <servlet-class>Housing.Option</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Option</servlet-name>
    <url-pattern>/Option</url-pattern>
  </servlet-mapping>
</web-app>